@import "../../global.scss";

.music--wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: ease 1000ms;
}
.music--link_item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.music--img {
  border-radius: 50%;
  width: 80px;
}
.music--button {
  background: #2ebd59;
  border-radius: 500px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  line-height: 11px;
  min-width: 92px;
  padding-top: 2px;
  padding-bottom: 3px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  margin: 0 10px 0 0;
  float: left;
}

@media screen and (min-width: 0px) and (max-width: 768px) {

iframe{
  width:300px;
  height:80vh;
}

.music--wrapper {
  height: 100vh;
  width: 100%;

}

}
@media screen and (max-width: 900px) {
.music--wrapper {
  height: 100vh;
  width: 100%;

}
iframe{
  width:300px;
  height:80vh;
}

}
@media screen and (max-width: 1024px) {
.music--wrapper {
  height: 100vh;
  width: 100%;
 
}
iframe{
  width:300px;
  height:80vh;
}
}