@import "../../global.scss";
p {
    display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about--wrapper {
  height: 210vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: ease 1000ms;
}
.about--wrapper_white {
  height: 220vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $white;
  color: $black;
  transition: ease 1000ms;
}
.about--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about--text {
  font-family: $font-main;
  font-size: 14pt;
  margin-top: 35px;
  width: 55%;
}
.about--header {
  position: absolute;
}

.about--container_white {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200vh;
 
}
.about--container_ind {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}
.about--box_ind {
  width: 40%;
 
}
.about-img_ind {
  width: 250px;
  padding: 40px;
}

.about--image {
width:65%;
}

@media screen and (min-width:0px) and (max-width: 768px) {
 
.about--image {
display:none;
}
.about--container{
  height:50vh;
}
.about--wrapper {
  height:200vh;

}
.about--header{
 position:absolute;
 top:0px; 
 
}
.about--text {
  margin-top: 120px;
  font-family: $font-main;
  font-size: 12pt;
  width: 90%;
}
.about--box_ind {
  width: 100%;

}
.about--wrapper_ind{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
 margin-top: 20vh;
 height:250vh;

}
.about-img_ind {
display:none;
 
}
.about--container_ind {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
height:300px;
margin-top:200px;

}
.about-box_ind{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:250px;
}
.about--text_ind {
  display: flex;
  align-items: center;
  justify-content: center;
margin: 0 0 0 0;
  font-family: $font-main;
  font-size: 12pt;
  width: 100%;
  
 
}
.about--container_white {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
height:100vh;
}
.about-box_ind{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:250px;
}
}
@media screen and (min-width:768px) and (max-width: 900px) {
 .about--image {
display:none;
}
.about--container{
  height:50vh;
}
.about--wrapper {
  height:220vh;

}
.about--header{
 position:absolute;
 top:0px; 
 
}
.about--text {
  margin-top: 120px;
  font-family: $font-main;
  font-size: 12pt;
  width: 90%;
}
.about--box_ind {
  width: 100%;
height:50vh;
}
.about--wrapper_ind{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
 margin-top: 100vh;
 height:200vh;
margin-bottom: 200px;
}
.about-img_ind {
display:none;
 
}
.about--container_ind {

  flex-direction: column;

}
.about-box_ind{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:150px;
}
.about--text_ind {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: $font-main;
  font-size: 12pt;
  width: 100%;
  
 
}
.about--container_white {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
height:220vh;

}
.about-box_ind{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
margin-bottom:200px;
}

}
@media screen and (min-width: 900px) and (max-width: 1024px) {
.about--image {
display:none;
}
.about--container{
  height:100vh;
}
.about--wrapper {
  height:200vh;

}
.about--header{
 position:absolute;
 top:0px; 
 
}
.about--text {
  margin-top: 120px;
  font-family: $font-main;
  font-size: 12pt;
  width: 90%;
}
.about--box_ind {
 
  width: 100%;

}
.about--wrapper_ind{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
height: 100vh;
margin-bottom:200px;
}
.about-img_ind {
display:none;
 
}
.about--container_ind {
  display: flex;
  align-items: center;
  justify-content: center;

}
.about-box_ind{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.about--text_ind {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: $font-main;
  font-size: 12pt;
  width: 100%;
  
 
}
.about--container_white {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.about-box_ind{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

} 

}