@import "../../global.scss";

.home--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.home--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home--logo_img {
  animation-name: size;
  animation-duration: 4s;
}

@keyframes size {
  0% {
    width: 0px;
  }

  100% {
    width: 853px;
  }
}
