@import "../../global.scss";

.navbar-container{
  position:relative;
}

.navbar--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 13%;
  background-color: $black;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.navbar--hidden{
   display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 13%;
  background-color: $black;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.navbar--list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}
.navbar--list_item {
  width: 120px;
  font-size: 14pt;

  .navbar--list_link {
    text-decoration: none;
    color: $white;
    font-family: $font-main;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    &:visited {
      text-decoration: none;
      color: $white;
    }
    &:hover {
      font-size: 16pt;
      font-weight: bolder;
      background: -webkit-linear-gradient(#2af598, #009efd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


.burger{
  display:none;
  height: 20px;
  width:40px;
 position:absolute;
 align-items:center;
 justify-content:center;
  right:20px;
  top:20px;
  cursor:pointer;
    z-index:10;
}
.burgercross div , .burger div{
  z-index:10;
  background-color: #ffffff;
  border-radius: 3px;
  display: block;
  width:30px;
  height:3px;
  margin: 7px;
  transition: all .2s ease-in-out;
  
}
.burgercross{
  display:none;
  z-index:10;
    height: 20px;
  width:40px;
 position:absolute;
 align-items:center;
 justify-content:center;
  right:20px;
  top:20px;
  cursor:pointer;
}
.burger div{

   margin:3px;
   
}
.burgercross .line2{
display:none
}
.burgercross .line1{
transform: translateY(4.5px) rotate(135deg);
}
.burgercross .line3{
transform: translateY(-4.5px) rotate(-135deg);
}
.burgercross div{
   margin:3px;
   transform: scale(0);
   background-color: white;
}


@media screen and (min-width: 0px) and (max-width: 768px) {
.navbar--wrapper{

    height:100vh;
    position:absolute;
    top:0px;
    right:0px;
    width:100%;
  }
  .burger{
    display:flex;
    flex-direction:column;
    z-index:10;
  }
  .burgercross{
    display:flex;
    flex-direction:column;
    z-index:10;
  }
.navbar--list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width:50%;
  position:absolute;
right:0;
top:0;

}

.navbar--list_item {
  width: 120px;
  font-size: 14pt; 
  margin:20px;
 }
 .navbar--hidden{
   display:none;
 }

}
@media screen and (max-width: 900px) {
 .navbar--wrapper{

    height:100vh;
    position:absolute;
    top:0px;
    right:0px;
    width:100%;
  }
  .burger{
    display:flex;
    flex-direction:column;
    z-index:10;
  }
  .burgercross{
    display:flex;
    flex-direction:column;
    z-index:10;
  }
.navbar--list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width:50%;
  position:absolute;
right:0;
top:0;

}

.navbar--list_item {
  width: 120px;
  font-size: 14pt; 
  margin:20px;
 }
 .navbar--hidden{
   display:none;
 }

}
@media screen and (max-width: 1024px) {
 
.navbar--wrapper{

    height:100vh;
    position:absolute;
    top:0px;
    right:0px;
    width:100%;
  }
  .burger{
    display:flex;
    flex-direction:column;
    z-index:10;
  }
  .burgercross{
    display:flex;
    flex-direction:column;
    z-index:10;
  }
.navbar--list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width:50%;
  position:absolute;
right:0;
top:0;

}

.navbar--list_item {
  width: 120px;
  font-size: 14pt; 
  margin:20px;
 }
 .navbar--hidden{
   display:none;
 }
}