//colors
$black: #000000;
$white: #ffffff;
$red: #f02d1e;
$orange: #fcba03 ;
$yellow: #FF721B;

//fonts

$font-display: "Oswald", sans-serif;
$font-main: "Roboto", sans-serif;

body {
  background-color: $black;
  height: 100vh;
  width: 100%;
  transition: width 2s;
}
h1 {
  font-size: 60pt;
  letter-spacing: 0.2em;
  font-family: $font-display;
}
h3 {
  font-family: $font-main;
  font-size: 18pt;
}
p {
  font-family: $font-main;
  font-size: 14pt;
}
a:visited {
  text-decoration: none;
  color: $white;
}
a:link {
  color: $white;
}
